# Godot 4+ specific ignores
.godot/**/*

# Log files
*.log

# APK
*.apk

# IPA files
*.ipa
*.pck

# Android Project FIles
/android/build/**/*
/android/.build_version

# Xcode Project Files
/demo3/**/*
/demo3.xcarchive/**/*
/demo3.xcframework/**/*
/demo3.xcodeproj/**/*
/MoltenVK.xcframework/**/*