<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.getready.android">

    <application>
        <activity
            android:name=".RGNWebview"
            android:exported="false" />
        <meta-data
            android:name="org.godotengine.plugin.v1.RGNPluginMobile"
            android:value="io.getready.android.RGNPlugin" />
    </application>

</manifest>